@use '../variables.scss';

// Copyright Styles
.Copyright {
  font-size: variables.$small-font-size;
}

/*
Ribbon is the little line in the top of the site.
*/
.Ribbon {
  border-top-style: solid;
  border-top-width: variables.$Ribbon-width;
  border-top-color: variables.$Ribbon-color;
  margin-top: auto;
}

.ProfilePhoto {
  border-radius: 50%;
  object-fit: fill;
  max-width: 40%;
  height: auto;
}