@use '../variables.scss';

/*
Navigation is the top and the bottom part of the site that contains icons and 
texts that redirects you to the other pages in or out of the site.
*/
.Navigation {
  .Title {
    text-decoration: none;
    font-size: 1.25rem;
    color: variables.$text-color;
  }
  .NavigationPane {
    padding-bottom: 0.5rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .NavigationEntry {
    color: variables.$text-color;
    margin-left: variables.$nav-link-margin-left;
    text-decoration: none;    
  }
  .NavigationEntry:hover {
    transition: background-color 0.3s;
  }
  .NavigationEntry:visited {
    color: variables.$text-color;
  }
}

/*
Pagination is the bottom buttons that get shown when a page has reached a limit of posts
set by the user as to not clutter a page a huge amount of posts.
*/
.Pagination {
  display: flex;
  justify-content: center;
  gap: variables.$pagination-gap;
  margin-top: 20px;
  a {
    color: variables.$text-color !important;
    text-decoration: none;
    padding: variables.$pagination-padding;
    background-color: variables.$pagination-background;
    border-radius: 5px;
    font-size: variables.$pagination-font-size;
    transition: background-color 0.3s;
  }
  a:hover {
    background-color: variables.$pagination-hover-background;
  }
}