@use "sass:color";
@use '../variables.scss';

$left-border-size: .5rem;
$title_transparency: 35%;
$back_transparency: 20%;

$color_alert: rgb(255, 0, 0);
$color_warning: rgb(255, 193, 7);
$color_info: rgb(0, 0, 255);

$color_alert_title: rgb(255, 0, 0, $title_transparency);
$color_warning_title: rgb(255, 193, 7, $title_transparency);
$color_info_title: rgb(0, 0, 255, $title_transparency);

$color_alert_back: rgb(255, 0, 0, $back_transparency);
$color_warning_back: rgb(255, 193, 7, $back_transparency);
$color_info_back: rgb(0, 0, 255, $back_transparency);

.sign_title {
    font-size: 1.25rem;
    font-weight: bolder;
    font-style: italic;
    margin-block-start: 0em;
    margin-left: -1rem;
    padding: .25rem 1rem;
}

.sign_base {
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: 500; 
    margin-bottom: 1rem;
}

.sign_alert {
    border-left: $left-border-size solid $color_alert;
    background-color: $color_alert_back;
    p {
        background-color: $color_alert_title;
    }
}


.sign_warning {
    border-left: $left-border-size solid $color_warning;
    background-color: $color_warning_back;
    p {
        background-color: $color_warning_title;
    }
}


.sign_info {
    border-left: $left-border-size solid $color_info;
    background-color: $color_info_back;
    p {
        background-color: $color_info_title;
    }
}
