<!DOCTYPE html>
<html>
	{% include "../vitals/head.njk"%}
	
	<body class="Ribbon" id='Body'>
		<div>
			{% include "../vitals/header.njk"%}

			<div class="Content">
				{{ content | safe }}
			</div>

			{% include "../vitals/footer.njk"%}
		</div>
	</body>
</html>