<footer>
	<div class="Navigation" id="SocialsPane">
		<nav class="NavigationPane">
			{% for item in socials %}
				<a id="SocialsIcon" class="NavigationEntry" href="{{item.url}}"><i class="{{item.icon}} hover-animate"></i></a>
			{% endfor %}
		</nav>
	</div>
	
	<div class="center Copyright" id="Copyright">
		Copyright © <div id="copyright_date"> </div>  {{site.author.name}}. All rights reserved.
	</div>
</footer>