<header class="Navigation">
	<a class="Title center" href="/"><h2>{{ site.title }}</h2></a>
	
	<div class="NavigationPane">
		<i class="hover-animate" id="snowFlakeButton" onclick="SnowManager.toggleSnow()"></i>
		<i class="hover-animate fa-regular fa-sun" onclick="ThemeManager.toggleTheme()"></i>

		{% for item in navigation %}
			<a class="NavigationEntry" href="{{ baseurl }}{{item.url}}"><i class="hover-animate"> {{item.name | url}} </i></a>
		{% endfor %}
	</div>
</header>