<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="{{site.metadata}}">
    <meta name="author" content="{{site.author.name}}">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon_io/favicon-16x16.png">

    <!-- SEO optimisations for the site -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Person",
            "name": "{{ site.author.name }}",
            "url": "{{ site.github_pages }}",
            "sameAs": [
                "https://www.linkedin.com/in/stefenmarg",
                "https://github.com/stefenmarg",
                "https://x.com/stefenmarg"
            ],
            "jobTitle": "Undergraduate Student in Digital Systems",
            "worksFor": {
                "@type": "Organization",
                "name": "University of Thessaly"
            }
        }
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4NCMDDS9PY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-4NCMDDS9PY');
    </script>

    <!-- The main JS file for the site -->
    <script src="{{ url }}/js/global.bundle.js"></script>

    <!-- The main file for the snow effect. -->
    <script src="{{ url }}/js/snowstorm.js"></script>


    <!-- Themes and other theme things -->
    <script>
        // Load theme as soon as the DOM is ready
        document.addEventListener("DOMContentLoaded", function () {
            ThemeManager.SyncCookieTheme();
            SnowManager.enableCheck();
        });
    </script>

    <!-- CSS and styles -->
    <link rel="stylesheet" href="{{url}}/css/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" >
    

    <title>{{ title }} | {{ site.title }}</title>
</head>