---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #d6d6d6;
$background-color: #2e2e2e;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// CUSTOM STUFF IN CSS
.row {
  display: flex;
}

.column {
  float: left;
  width: 50%;
  flex: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.bottom {
  border-bottom: 1px solid #e8e8e8;
}

.navigation {
  display: contents;
}

.nav_buttons {
  display: flex;
  margin-top: 2%;
  margin: 1.6%;
  overflow: auto;
}

.profilePicture {
	border-radius: 50%;
	height: 50%;
	width: 50%;
}

.profile_holder {
    display: flex;
    justify-content: center;
}

.site-title {
  color: #d6d6d6 !important;
}
// Custom css theme for making the colors better.
body {
  color: #d6d6d6 !important;
  background-color: #2e2e2e !important;
  font-family: "Gugi", sans-serif !important;
}

a {
    color: #9e86c8 !important;
    text-decoration: none;
}
a:visited {
    color: #6c99bb !important;
    text-decoration: none;
}
a:hover {
  color: #9e86c8 !important;
  text-decoration: underline !important;
}
a:visited:hover {
    color: #6c99bb !important;
    text-decoration: none;
}

.gugi-regular {
  font-family: "Gugi", sans-serif;
  font-weight: 400;
  font-style: normal;
}


//

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "syntax-highlighting";