<footer class="text-center text-lg-start footer mt-auto">
  <hr class="hr hr-blurry"> </hr>  

  <div class="text-center">
    {% for item in footer %}
      <a href="{{ item.url }}" class="me-2" style="text-decoration: none;">  <i class="{{ item.icon }} font-awesome-icon"></i> </a>
    {% endfor %}
    <a href="{{page.baseurl}}/archives" class="me-2" style="text-decoration: none;">  <i class="fa-solid fa-box-archive font-awesome-icon"></i> </a>

  </div>
</footer>