<footer class="text-center text-lg-start footer pe-5 ps-5 pt-3 pb-3">
  <div class="text-center">
    {% for item in footer %}
      <a href="{{ item.url }}" class="me-2" style="text-decoration: none;"> 
        <i class="{{ item.icon }}"></i>
      </a>
    {% endfor %}
  </div>

  <div class="text-center">
    © {% year %}  Copyright Stefanos M.
  </div>
</footer>