@use 'variables.scss';
@use './Components/Navigation.scss';
@use './Components/Details.scss';
@use './Components/Signs.scss';

// Body Styles
body {
  font-family: variables.$font-family;
  font-size: variables.$font-size;
  background-color: variables.$background-color;
  color: variables.$text-color;
  margin-left: 13%;
  margin-right: 13%;
}

// Links Styles
a {
  color: variables.$link-color;
}

a:visited {
  color: variables.$link-visited-color;
}

header {
  border-bottom: dotted;
}

footer {
  border-top: dotted;
}

// Center Styles
.center {
  margin-left: auto;
  margin-right: auto;
  width: variables.$container-width;
  padding: variables.$container-padding;
  display: flex;
  width: fit-content;
}

// Hover Animation Styles
.hover-animate {
  transition: transform 0.3s ease, color 0.3s ease;
}

.hover-animate:hover {
  transform: scale(1.2);
  color: variables.$hover-color;
  cursor: pointer;
}