@use 'variables.scss';
@use 'animations.scss';
@use './Components/Navigation.scss';
@use './Components/Details.scss';
@use './Components/Signs.scss';

// Body Styles
body {
  font-family: variables.$font-family;
  font-size: variables.$font-size;
  background-color: variables.$background-color;
  color: variables.$text-color;
  margin-left: 13%;
  margin-right: 13%;
}


header {
  border-bottom: dotted;
}

footer {
  border-top: dotted;
}

// Center Styles
.center {
  margin-left: auto;
  margin-right: auto;
  width: variables.$container-width;
  display: flex;
  width: fit-content;
}

.Content {
  a {
    color: variables.$link-color;
  }

  a:visited {
    color: variables.$link-visited-color;
  }

}