<!DOCTYPE html>
<html data-bs-theme="dark">
	{% include "./head.liquid"%}

	<body>
		<div class="modal-body row">

			<div class=" mw-25 col-md-3 bg-body-tertiary d-flex flex-column min-vh-100 p-4 text-break">
				<img class="img-fluid rounded-circle center-block d-block" src="https://avatars.githubusercontent.com/u/145908944"></img>

				{% include "../navigation.liquid" %}

				{% include "../footer.liquid" %}
			</div>
		

			<div class="wrapper col-md-6 m-3 ps-3 pe-3">
				<div class="center">
					{% include "../header.liquid" %}
				</div>
				
				{{ content }}

				<div class="text-center mt-auto">
					© {% year %}  Copyright Stefanos M.
				</div>
			</div>

		</div>						
	</body>
</html>