<!DOCTYPE html>
<html  data-bs-theme="dark">
	{% include "./head.liquid"%}
	
	<body class="pe-5 ps-5">
		<div class="wrapper">
			<div>
				{% include "../header.liquid" %}
			</div>

			<div class="p-3">
				{{ content }}
			</div>
		</div>

		<div class="">
			{% include "../footer.liquid" %}
		</div>
	</body>
</html>